@font-face {
  font-family: 'TitilliumText22L-Thin';
  src: url('../fonts/TitilliumText22L-Thin/TitilliumText22L-Thin.eot?#iefix') format('embedded-opentype'),             url('../fonts/TitilliumText22L-Thin/TitilliumText22L-Thin.otf')  format('opentype'),
	     url('../fonts/TitilliumText22L-Thin/TitilliumText22L-Thin.woff') format('woff'),
       url('../fonts/TitilliumText22L-Thin/TitilliumText22L-Thin.ttf')  format('truetype'),
       url('../fonts/TitilliumText22L-Thin/TitilliumText22L-Thin.svg#TitilliumText22L-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumText22L-Light';
  src: url('../fonts/TitilliumText22L-Light/TitilliumText22L-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumText22L-Light/TitilliumText22L-Light.otf')  format('opentype'),
	    url('../fonts/TitilliumText22L-Light/TitilliumText22L-Light.woff') format('woff'),
      url('../fonts/TitilliumText22L-Light.ttf')  format('truetype'), url('../fonts/TitilliumText22L-Light/TitilliumText22L-Light.svg#TitilliumText22L-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumText22L-Regular';
  src: url('../fonts/TitilliumText22L-Regular/TitilliumText22L-Regular.eot?#iefix') format('embedded-opentype'),              url('../fonts/TitilliumText22L-Regular/TitilliumText22L-Regular.otf')  format('opentype'),
	    url('../fonts/TitilliumText22L-Regular/TitilliumText22L-Regular.woff') format('woff'), url('../fonts/TitilliumText22L-Regular/TitilliumText22L-Regular.ttf')  format('truetype'), url('../fonts/TitilliumText22L-Regular/TitilliumText22L-Regular.svg#TitilliumText22L-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/OpenSans-Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),    url('../fonts/OpenSans-Semibold/OpenSans-Semibold.woff') format('woff'),
      url('../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf')  format('truetype'),
      url('../fonts/OpenSans-Semibold/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
